<%# views/user_mfa_sessions/new.html.erb %>
<body id= "defBG">
<div class="container p-5 my-3 w-50 border bg-white">
<div class="d-flex justify-content-center">
<%= image_tag 'AudiaShield1.png', style: "margin: 0 auto; width: 125px " %>
</div>
<h2 class= "display-4", style= 'padding-bottom:20px' ><strong>Authenticate Your Account</strong></h2>

<p class="d-flex justify-content-center text-align: center",style= 'padding-bottom:20px'>
Protect your account with Two-Factor Authentication.
</p>
<%= link_to 'Set up Google Authenticator', setup_google_auth_user_mfa_sessions_path, method: :get, class: "btn mfa-submit btn-lg btn-block" %>
<%= link_to 'Set up Email Verification', setup_email_auth_user_mfa_sessions_path, method: :get, class: "btn mfa-other btn-secondary border-none btn-lg btn-block" %>
</div>
</body>