<p>Hello,</p>
<p>Thank you for purchasing a license to our web app. Attached you can find your license key</p>
<p>Your license key is <%= @license_key%>. Please register an account to the website using this as your registration key.</p>
