<!-- app/views/stripe_checkout/success.html.erb -->

<h1>Success!</h1>
<p>Your action was successful. You will be redirected shortly.</p>

<script type="text/javascript">
  setTimeout(function() {
    window.location = '/users/sign_up';
  }, 3000); // 3000 milliseconds = 3 seconds
</script>
