<%# <h1>StripePayment#success</h1>
<p>Find me in app/views/stripe_payment/success.html.erb</p> %>

<h1>Payment Successful</h1>
<p>Your payment was processed successfully. Please check your email.</p>
