<!-- app/views/billing_dashboard/index.html.erb -->

<head>
  <!-- Other head elements -->
  <script src="https://js.stripe.com/v3/"></script>
</head>

<% if @current_month_tests.present? %>
  <h2>Current Month's Tests</h2>
  <%= render 'tests_table', tests: @current_month_tests %>

<% end %>

<% if @previous_tests.present? %>
  <h2>Previous Month's Tests</h2>
  <%= render 'tests_table', tests: @previous_tests %>
<% end %>



<%= button_to 'Manage Billing', customer_portal_path, method: :post %>
