<!-- app/views/billing_dashboard/index.html.erb -->
<head>
  <!-- Other head elements -->
  <script src="https://js.stripe.com/v3/"></script>
</head>

<% if @current_month_tests.present? %>
  <h2>Current Month's Tests</h2>
  <%= render 'tests_table', tests: @current_month_tests %>
  <h3>Total Cost for This Month: <%= @total_cost %></h3>

<% end %>

<% if @previous_tests.present? %>
  <h2>Previous Month's Tests</h2>
  <%= render 'tests_table', tests: @previous_tests %>
<% end %>

<!-- Stripe payment setup section -->
<div>
  <h2>Payment Method</h2>
  <button id="setup-button">Set up payment method</button>
</div>

<script>
  var stripePublicKey = 'pk_test_51OXZ5bEdjXO5pqxuSJlhPKeetS2Mps2Wa9dVb5MNAUSdo4C4HdC1PgtK7g5iHGtPibtQeXqiZdrwEz1PX5XTcvDa00SbAZ4Bh6';
  var stripe = Stripe(stripePublicKey);
  
  document.addEventListener('turbolinks:load', function() {
    var setupButton = document.getElementById('setup-button');
    if (setupButton) {
        setupButton.addEventListener('click', function() {

    fetch('/stripe_payment/initialize_payment_setup', {
      method: 'POST',
      headers: {
    'X-CSRF-Token': document.querySelector("[name='csrf-token']").content,
    'Content-Type': 'application/json'
  },
  credentials: 'same-origin'

    })
    .then(function (response) {
      return response.json();
    })
    .then(function (data) {
      // 'data' is the result of response.json(). It should contain the session_id.
      if (data && data.session_id) {
        return stripe.redirectToCheckout({ sessionId: data.session_id });
      } else {
        // Throw an error if session_id is not found
        throw new Error('Session ID not found');
      }
    })

    .catch(function (error) {
      console.error('Error:', error);
    });
 });
  }
});
</script>