<!DOCTYPE html>
<html>
<head>
  <title>Dataset Inquiry Received</title>
</head>
<body>
  <h1>We have received your inquiry.</h1>
  <p>Dear <%= @inquiry.email %>,</p>
  <p>Thank you for your inquiry about accessing our dataset. We have received your request and will review the information you have provided.</p>
  <p>We aim to respond to all inquiries within 48-72 hours. If you have any additional information that you think would be pertinent to your request, please feel free to reply to this email.</p>
  <p>Best regards,<br/>
  The Dichotic Data Research Team</p>
</body>
</html>

